<div>
  <section class="block  block--skewed-left block--dark about">
    <h2 class="block__heading  about__heading">Чому варто вибрати саме нас?</h2>
    <div class=" container grid grid--1x2">
        <header class="about__header">
          <p class="hero__parag"><strong>«BEE ORGANIC»</strong> - це інтернет-магазин виключно натурального меду з натуральних пасік розташованих в екологічно чистих куточках України.</p>
          <p class="hero__parag">Ми плануємо і надалі збільшувати наше коло співпраці з приватними пасіками та пасічниками. В майбутньому плануємо значно розширити асортимент меду, а також запропонувати солодкі продукти з меду.</p>
        </header>
        <div class="about__picture">
          <picture>
            <source type="image/webp" srcset="./images/caruselle/WebP/1.webp 1x, ./images/caruselle/webp/1@2x.webp 2x">
            <source type="image/jpg" srcset="./images/caruselle/jpg/1.jpg 1x, ./images/caruselle/jpg/1@2x.jpg 2x">
            <img class="about__image img--shadow" src="./images/caruselle/jpg/1@2x.jpg" alt="">
          </picture>
        </div>
  
    </div>
  </section>
  <section class="block">
    <div class=" container grid grid--1x2 grid--rewerse">
      <div class="about__picture">
        <picture>
          <source type="image/webp" srcset="./images/caruselle/WebP/2.webp 1x, ./images/caruselle/webp/2@2x.webp 2x">
          <source type="image/jpg" srcset="./images/caruselle/jpg/2.jpg 1x, ./images/caruselle/jpg/2@2x.jpg 2x">
          <img class="about__image img--shadow" src="./images/caruselle/jpg/2@2x.jpg" alt="">
        </picture>
      </div>
        <header class="about__header">
          <p class="hero__parag">Користь меду, який масово продають у магазинах і супермаркетах, викликає багато сумнівів. Звичайно, більшість виробників часто вказує, що продукт є штучним чи містить домішки. Тому частіше любителі натурального меду шукають його на ринках та приватних пасіках. Утім не завжди можна достовірно знати, що той мед, який ми купуємо на ринках, не містить додаткових домішок? На жаль, і не в кожного з нас є знайомий пасічник.</p>
        </header>
  
    </div>
  </section>
  <section class="block  block--skewed-left block--dark about--two">
    <div class=" container grid grid--1x2">
        <header class="about__header">
          <p class="hero__parag"><strong>«BEE ORGANIC»</strong> дає змогу кожному шанувальникові справжнього натурального меду придбати не лише натуральний, якісний та свіжий мед, але й той різновид, який Ви не можете знайти в магазинах чи на ринках у своєму регіоні.</p>
        </header>
        <div class="about__picture ">
          <picture>
            <source type="image/webp" srcset="./images/caruselle/WebP/1.webp 1x, ./images/caruselle/webp/1@2x.webp 2x">
            <source type="image/jpg" srcset="./images/caruselle/jpg/1.jpg 1x, ./images/caruselle/jpg/1@2x.jpg 2x">
            <img class="about__image img--shadow" src="./images/caruselle/jpg/1@2x.jpg" alt="">
          </picture>
        </div>
  
    </div>
  </section>
</div>