<section class="block">
  <h2 class="block__heading  about__heading heading-dec">Зворотній зв'язок</h2>
  <div class="container grid grid--1x2">
      <header class="">
        <ul class="lists feedback">
          <li class="list-feedback btn"><a href="tel:+380678424560">
            <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#phone"></use>
          </svg> 
           замовити дзвінок</a></li>
          <li class="list-feedback btn"><a href="mailto:pereklita.d@gmail.com">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#mail"></use>
            </svg>
            Написати нам</a></li>
          <li class="list-feedback btn"><a href="#">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#instagram"></use>
            </svg>
            Знайти нас на карті</a></li>
        </ul>
      </header>
      <div class="map--container">
        <iframe class="map-img img--shadow" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2586.3592635457057!2d24.740108136867015!3d48.921796935442394!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4730c162acddc721%3A0xadfcb39ec527f4a0!2z0LLRg9C70LjRhtGPINCG0LLQsNGB0Y7QutCwLCA3OCwg0IbQstCw0L3Qvi3QpNGA0LDQvdC60ZbQstGB0YzQuiwg0IbQstCw0L3Qvi3QpNGA0LDQvdC60ZbQstGB0YzQutCwINC-0LHQu9Cw0YHRgtGMLCA3NjAwMA!5e0!3m2!1suk!2sua!4v1615644596732!5m2!1suk!2sua" width="auto" height="auto" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>

  </div>
</section>