           <!-- nav bar -->

           <nav class="nav collapsible">
            <a href="index.html"><img src="./images/logo300.png" alt=""></a>
              <svg class="icon icon--white nav__toggler">
                <use xlink:href="images/sprite-2.svg#menu"></use>
              </svg>
            <ul class="lists nav__list collapsible__content">
              <li class="nav__item"><a href="#about">ПРО НАС</a></li>
              <li class="nav__item"><a href="#know">КОРИСНО ЗНАТИ</a></li>
              <li class="nav__item"><a href="#shop">ПРОДУКЦІЯ</a></li>
              <li class="nav__item"><a href="#feedback">ЗВОРОТНІЙ ЗВ'ЯЗОК</a></li>
              <li class="nav__item"><a href="#chart">ПОКУПКИ</a></li>
            </ul>
          </nav>
          
            <!-- hero element -->
        
          <section class="block  block--skewed-left block--dark hero">
        
            <h1 class="block__heading hero__heading heading-dec">
              Натуральний мед з власної пасіки
            </h1>
        
            <div class="container grid grid--1x3">
              
              <header class="block__header hero__content">
            
          
                  <div class="media">
                    <div class="media__image">
                      <span class="icon-container">
                        <svg class="icon icon--primary ">
                          <use xlink:href="images/sprite.svg#certificate"></use>
                        </svg>
                      </span>
                    </div>
                    <div class="media__body">
                      <p class="hero__parag">Всі, без виключення, батьки бажають, щоб їхня дитина була здоровою та отримувала достатню кількість корисних речовин. </p>
                    </div>
                  </div>
                  <div class="media">
                    <div class="media__image">
                      <span class="icon-container">
                        <svg class="icon icon--primary">
                          <use xlink:href="images/sprite.svg#heart"></use>
                        </svg>
                      </span>
                    </div>
                    <div class="media__body">
                      <p class="hero__parag">Всі, без виключення, батьки бажають, щоб їхня дитина була здоровою та отримувала достатню кількість корисних речовин. </p>
                    </div>
                  </div>
                  <div class="media">
                    <div class="media__image">
                      <span class="icon-container">
                        <svg class="icon icon--primary">
                          <use xlink:href="images/sprite.svg#organic"></use>
                        </svg>
                      </span>
                    </div>
                    <div class="media__body">
                      <p class="hero__parag">Всі, без виключення, батьки бажають, щоб їхня дитина була здоровою та отримувала достатню кількість корисних речовин. </p>
                    </div>
                  </div>
                  <div class="media">
                    <div class="media__image">
                      <span class="icon-container">
                        <svg class="icon icon--primary">
                          <use xlink:href="images/sprite.svg#honey-1"></use>
                        </svg>
                      </span>
                    </div>
                    <div class="media__body">
                      <p class="hero__parag">Всі, без виключення, батьки бажають, щоб їхня дитина була здоровою та отримувала достатню кількість корисних речовин. </p>
                    </div>
                  </div>
          
                  <br>
          
                  <a href="#shop" class="btn btn--accent btn--stretched btn__hero">
                    магазин
                  </a>
          
              </header>
              
              <picture>
                  <source type="image/webp" srcset="images/banky-2.webp 1x, images/banky-2@2x.webp 2x">
          
                  <source type="image/png" srcset="images/banky-2.png 1x, images/banky-2@2x.png 2x">
                    
                  <img class="hero__image img--shadow" src="./images/banky-2@2x.png" alt="">
              </picture>
          
            </div>
          </section>
        
            <!-- about as section -->
        
            <div id="about">
              <section class="block">
                <h2 class="block__heading  about__heading heading-dec">Чому варто вибрати саме нас?</h2>
                <div class=" container grid grid--1x3">
                    <header class="about__header">
                      <p class="hero__parag"><strong>«BEE ORGANIC»</strong> - це інтернет-магазин виключно натурального меду з натуральних пасік розташованих в екологічно чистих куточках України.</p>
                      <p class="hero__parag">Ми плануємо і надалі збільшувати наше коло співпраці з приватними пасіками та пасічниками. В майбутньому плануємо значно розширити асортимент меду, а також запропонувати солодкі продукти з меду.</p>
                    </header>
                    <div class="about__picture">
                      <picture>
                        <source type="image/webp" srcset="./images/caruselle/WebP/1.webp 1x, ./images/caruselle/webp/1@2x.webp 2x">
                        <source type="image/jpg" srcset="./images/caruselle/jpg/1.jpg 1x, ./images/caruselle/jpg/1@2x.jpg 2x">
                        <img class="about__image img--shadow" src="./images/caruselle/jpg/1@2x.jpg" alt="">
                      </picture>
                    </div>
              
                </div>
              </section>
              <section class="block block--dark about--two">
                <div class=" container grid grid--1x3 grid--rewerse">
                  <div class="about__picture">
                    <picture>
                      <source type="image/webp" srcset="./images/caruselle/WebP/2.webp 1x, ./images/caruselle/webp/2@2x.webp 2x">
                      <source type="image/jpg" srcset="./images/caruselle/jpg/2.jpg 1x, ./images/caruselle/jpg/2@2x.jpg 2x">
                      <img class="about__image img--shadow" src="./images/caruselle/jpg/2@2x.jpg" alt="">
                    </picture>
                  </div>
                    <header class="about__header">
                      <p class="hero__parag">Користь меду, який масово продають у магазинах і супермаркетах, викликає багато сумнівів. Звичайно, більшість виробників часто вказує, що продукт є штучним чи містить домішки. Тому частіше любителі натурального меду шукають його на ринках та приватних пасіках. Утім не завжди можна достовірно знати, що той мед, який ми купуємо на ринках, не містить додаткових домішок? На жаль, і не в кожного з нас є знайомий пасічник.</p>
                    </header>
              
                </div>
              </section>
              <section class="block">
                <div class=" container grid grid--1x3">
                    <header class="about__header">
                      <p class="hero__parag"><strong>«BEE ORGANIC»</strong> дає змогу кожному шанувальникові справжнього натурального меду придбати не лише натуральний, якісний та свіжий мед, але й той різновид, який Ви не можете знайти в магазинах чи на ринках у своєму регіоні.</p>
                    </header>
                    <div class="about__picture ">
                      <picture>
                        <source type="image/webp" srcset="./images/caruselle/WebP/4.webp 1x, ./images/caruselle/webp/4@2x.webp 2x">
                        <source type="image/jpg" srcset="./images/caruselle/jpg/4.jpg 1x, ./images/caruselle/jpg/4@2x.jpg 2x">
                        <img class="about__image img--shadow" src="./images/caruselle/jpg/1@2x.jpg" alt="">
                      </picture>
                    </div>
              
                </div>
              </section>
            </div>
        
        
            <!-- know section -->
        
            <section id="know" class="block block--dark ">
              <h2 class="block__heading  about__heading heading-dec">Корисно знати</h2>
               <div class=" container know-section">
                  <header class="about__header">
                    <h3 class="know__heading" >Чому мед є таким  важливим для здоров’я  дитини?</h3>
            
                    
            
                    <p class="hero__parag know__text">Цілющі властивості меду відомі людям вже декілька тисячоліть.  Цей смачний і поживний продукт наші предки споживали як безпосередньо, так і в складі великої кількості страв, що приготовані з додаванням меду. Як правило, з основних переваг меду, як продукту харчування, можна виділити такі:
                      
                      <ul class="lists list--tick know__text">
            
                        <li class="list__item">Здатність підвищувати імунітет організму. Дитячий організм є дуже вразливим щодо   багатьох різноманітних хвороб та інфекцій, від яких фізично вберегти дитину неможливо. Однак, завдяки речовинам, що містяться в цьому продукті, дитина буде значно витривалішою і матиме імунітет до більшості хвороб, починаючі від звичайної застуди, та закінчуючі тяжкими інфекційними захворюваннями.</li>
            
                        <li class="list__item">Здатність нормалізувати роботу кишечника. Бактерії, що містяться в натуральному меді, здатні оптимально налаштувати роботу кишечника маленької людини. Тому, регулярне споживання певної кількості меду, дозволяє уникати таких проблем, як дісбактеріоз та багатьох інших порушень функції кишечника. В результаті, дитина буде здоровою та почуватися весело та комфортно, на радість батькам.</li>
            
                        <li class="list__item">Здатність заспокоювати нерви. Всім відомо, що дитина з проблемами нервової системи є більш схильною до різноманітних захворювать. Вона гірше харчується, почуває себе некомфортно та завдає багато клопоту мамі, нерви якої також, безумовно, страждають від такої ситуації. Введення в раціон дитини меду, дозволяє зробити дитину більш витривалою та спокійною. Такий малюк значно краще спить, що дуже необхідно для його розвитку.</li>
                      </ul>
            
                      </p>
            
                  </header>
            
                  <header>
                    <h3 class="know__heading" >Що робити з алергією дитини на мед?</h3>
            
                    <p class="hero__parag know__text">Досить часто, молоді батьки жаліються на те, що дитина має алергічні реакції на мед та всі продукти харчування, що містять його в своєму складі. Однак, насправді, все не так страшно.
            
                      Перш за все, в більшості випадків, в дитини буває алергія не на сам мед, а на пилок певних видів рослин, з яких бджоли його збирали. В такому випадку, варто спробувати просто змінити один тип меду на інший. Наприклад, якщо алергія була помічена при вживанні акацієвого меду, то варто спробувати перейти на гречаний або липовий.
                      
                      Крім того, велике значення має якість меду. Справа в тому, що сьогодні пропонується досить велика кількість фальсифікованого меду, в який додаються інші речовини. Наприклад, патока цукрової тростини. Звичайно, що такий продукт медом назвати дуже важко, і давати його дитині не варто. Як перевірити мед на натуральність можна довідатися з цієї статті, на нашому сайті.
                      </p>
            
            
                    <h3 class="know__heading" >Як правильно давати мед дітям?</h3>
            
                    <p class="hero__parag know__text">Як казав відомий лікар <a class="know__text" href="https://uk.wikipedia.org/wiki/%D0%A2%D0%B5%D0%BE%D1%84%D1%80%D0%B0%D1%81%D1%82_%D0%9F%D0%B0%D1%80%D0%B0%D1%86%D0%B5%D0%BB%D1%8C%D1%81 " target="_blank">Парацельс</a>, «будь-які ліки є отрутою, а будь-яка отрута ліками. Все залежить від дози». Саме тому, у випадку з дітьми, варто дотримуватися певних правил, які є квинтесенцією накопиченого людьми досвіду.
            
                      Перед усім, зовсім маленьким дітям (до року) мед давати не рекомендовано взагалі. Маленький організм ще не в стані перетравити такий продукт. А от починаючи з дошкільного віку, можна поступово вводити мед в раціон дитини. При цьому, варто не поспішати. Починати варто з половини чайної ложки і поступово довести до 1 столової ложки.
                      
                      Дітям молодшого шкільного віку, навпаки, мед дуже корисний. Він підвищує здатність вчитися та зміцнює імунітет. Однак, не варто таким дітям споживати меду більш ніж 3 столових ложки в день.
                      
                      Для підлітків мед, також, дуже корисний. Однак, варто пам’ятати, що цей продукт містить дуже велику кількість вуглеводів. Тому, дітям, схильним до повноти, варто обмежити денну дозу.
                      
                      Вважається, що не варто давати дітям мед у чистому вигляді. Краще змішати його з іншими продуктами. Наприклад, додати мед в чай або давати його з солодким сиром, кисломочними продуктами чи натуральними соками.
        
                      
                      </p>
                  </header>
            
              </div>
            </section>
        
            <!-- shop section -->
        
            <section id="shop" class="block  block-shop ">
              <h2 class="about__heading heading-dec">Наша  продукція</h2>
              <div class=" container grid grid--1x2">
            
                <div class="shop-card">
                  <div class="card">
                    <div class="card__img">
                      <img src=".//images/shop pics/1 item.jpg" alt="Мед з Акації">
                    </div>
                    <header class="card__header">
                      <h3 class="shop-card__name background-1"> Мед з мигдалем</h3>
                      <br>
                      <span class="shop-card__description">Дуже солодкий, тягучий.
                        <br> Містить 36% глюкози і 41% фруктози.</span>
                        <br>
                        <br>
                      </header>
            
                        <div class="shop-card-body">
                          <div class="shop-card__amounth">
                            <button class="btn btn--outline">120 грам</button>
                            <button class="btn btn--outline ">220 грам</button>
                            <button class="btn btn--outline">470 грам</button>
                            <button class="btn btn--outline">1400 грам</button>
                          </div>
                        </div>
                        <br>
                        <div class="price-container">
                          <span class="shop-card__price old__price">154 ₴</span>
                          <br>
                          <span class="shop-card__price new__price">140 ₴</span>
                          <br>
                        </div>
                        <button class="btn btn--accent btn--block"><svg class="icon icon--white">
                          <use xlink:href="images/sprite.svg#cart"></use>
                        </svg>В кошик</button>
                  </div>
                </div>
            
                <div class="shop-card">
                  <div class="card ">
                    <div class="card__img">
                      <img src=".//images/shop pics/2 item.jpg" alt="Мед з лісовими горіхами">
                    </div>
                    <header class="card__header">
                      <h3 class="shop-card__name background-1"> Мед з горіхами</h3>
                      <br>
                      <span class="shop-card__description">Дуже солодкий, тягучий.
                        <br> Містить 36% глюкози і 41% фруктози.</span>
                        <br>
                        <br>
                      </header>
            
                      <div class="shop-card-body">
                        <div class="shop-card__amounth">
                          <button class="btn btn--outline">120 грам</button>
                          <button class="btn btn--outline ">220 грам</button>
                          <button class="btn btn--outline">470 грам</button>
                          <button class="btn btn--outline">1400 грам</button>
                        </div>
                      </div>
                      <br>
                      <div class="price-container">
                        <span class="shop-card__price old__price">154 ₴</span>
                        <br>
                        <span class="shop-card__price new__price">140 ₴</span>
                        <br>
                      </div>
                      <button class="btn btn--accent btn--block"><svg class="icon icon--white">
                        <use xlink:href="images/sprite.svg#cart"></use>
                      </svg>В кошик</button>
            
                  </div>
                </div>
            
                <div class="shop-card">
                  <div class="card ">
                    <div class="card__img">
                      <img src=".//images/shop pics/3 item.jpg" alt="Мед з Акації">
                    </div>
                    <header class="card__header">
                      <h3 class="shop-card__name background-1"> Мед з кеш'ю</h3>
                      <br>
                      <span class="shop-card__description">Дуже солодкий, тягучий.
                        <br> Містить 36% глюкози і 41% фруктози.</span>
                        <br>
                        <br>
                      </header>
            
                      <div class="shop-card-body">
                        <div class="shop-card__amounth">
                          <button class="btn btn--outline">120 грам</button>
                          <button class="btn btn--outline ">220 грам</button>
                          <button class="btn btn--outline">470 грам</button>
                          <button class="btn btn--outline">1400 грам</button>
                        </div>
                      </div>
                      <br>
                      <div class="price-container">
                        <span class="shop-card__price old__price">154 ₴</span>
                        <br>
                        <span class="shop-card__price new__price">140 ₴</span>
                        <br>
                      </div>
                      <button class="btn btn--accent btn--block"><svg class="icon icon--white">
                        <use xlink:href="images/sprite.svg#cart"></use>
                      </svg>В кошик</button>
            
                  </div>
                </div>
            
                <div class="shop-card">
                  <div class="card">
                    <div class="card__img">
                      <img src=".//images/shop pics/4 item.jpg" alt="Мед з Акації">
                    </div>
                    <header class="card__header">
                      <h3 class="shop-card__name background-1"> Мед з горіхами</h3>
                      <br>
                      <span class="shop-card__description">Дуже солодкий, тягучий.
                        <br> Містить 36% глюкози і 41% фруктози.</span>
                        <br>
                        <br>
                      </header>
            
                      <div class="shop-card-body">
                        <div class="shop-card__amounth">
                          <button class="btn btn--outline">120 грам</button>
                          <button class="btn btn--outline ">220 грам</button>
                          <button class="btn btn--outline">470 грам</button>
                          <button class="btn btn--outline">1400 грам</button>
                        </div>
                      </div>
                      <br>
                      <div class="price-container">
                        <span class="shop-card__price old__price">154 ₴</span>
                        <br>
                        <span class="shop-card__price new__price">140 ₴</span>
                        <br>
                      </div>
                      <button class="btn btn--accent btn--block"><svg class="icon icon--white">
                        <use xlink:href="images/sprite.svg#cart"></use>
                      </svg>В кошик</button>
            
                  </div>
                </div>
            
                <div class="shop-card">
                  <div class="card">
                    <div class="card__img">
                      <img src=".//images/shop pics/5 item.jpg" alt="Мед з Акації">
                    </div>
                    <header class="card__header">
                      <h3 class="shop-card__name background-1"> Горіховий мікс</h3>
                      <br>
                      <span class="shop-card__description">Дуже солодкий, тягучий.
                        <br> Містить 36% глюкози і 41% фруктози.</span>
                        <br>
                        <br>
                      </header>
            
                      <div class="shop-card-body">
                        <div class="shop-card__amounth">
                          <button class="btn btn--outline">120 грам</button>
                          <button class="btn btn--outline ">220 грам</button>
                          <button class="btn btn--outline">470 грам</button>
                          <button class="btn btn--outline">1400 грам</button>
                        </div>
                      </div>
                      <br>
                      <div class="price-container">
                        <span class="shop-card__price old__price">154 ₴</span>
                        <br>
                        <span class="shop-card__price new__price">140 ₴</span>
                        <br>
                      </div>
                      <button class="btn btn--accent btn--block"><svg class="icon icon--white">
                        <use xlink:href="images/sprite.svg#cart"></use>
                      </svg>В кошик</button>
            
                  </div>
                </div>
            
                <div class="shop-card">
                  <div class="card">
                    <div class="card__img">
                      <img src=".//images/shop pics/6 item.jpg" alt="Мед з Акації">
                    </div>
                    <header class="card__header">
                      <h3 class="shop-card__name background-1"> Крем-мед</h3>
                      <br>
                      <span class="shop-card__description">Дуже солодкий, тягучий.
                        <br> Містить 36% глюкози і 41% фруктози.</span>
                        <br>
                        <br>
                      </header>
            
                      <div class="shop-card-body">
                        <div class="shop-card__amounth">
                          <button class="btn btn--outline">120 грам</button>
                          <button class="btn btn--outline ">220 грам</button>
                          <button class="btn btn--outline">470 грам</button>
                          <button class="btn btn--outline">1400 грам</button>
                        </div>
                      </div>
                      <br>
                      <div class="price-container">
                        <span class="shop-card__price old__price">154 ₴</span>
                        <br>
                        <span class="shop-card__price new__price">140 ₴</span>
                        <br>
                      </div>
                      <button class="btn btn--accent btn--block"><svg class="icon icon--white">
                        <use xlink:href="images/sprite.svg#cart"></use>
                      </svg>В кошик</button>
            
                  </div>
                </div>
            
              </div>
            </section>
        
            <!-- backfeed -->
        
            <section id="feedback" class="block">
              <h2 class="block__heading  about__heading heading-dec">Зворотній зв'язок</h2>
              <div class="container grid grid--1x2">
                  <header class="">
                    <ul class="lists feedback">
                      <li class="list-feedback btn"><a href="tel:+380678424560">
                        <svg class="icon icon--primary">
                        <use xlink:href="images/sprite.svg#phone"></use>
                      </svg> 
                       замовити дзвінок</a></li>
                      <li class="list-feedback btn"><a href="mailto:pereklita.d@gmail.com">
                        <svg class="icon icon--primary">
                          <use xlink:href="images/sprite.svg#mail"></use>
                        </svg>
                        Написати нам</a></li>
                      <li class="list-feedback btn"><a href="#open-map">
                        <svg class="icon icon--primary">
                          <use xlink:href="images/sprite.svg#instagram"></use>
                        </svg>
                        Знайти нас на карті</a></li>
                    </ul>
                  </header>
                  <div  class="map--container">
                    <iframe id="open-map" class="map-img img--shadow" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2586.3592635457057!2d24.740108136867015!3d48.921796935442394!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4730c162acddc721%3A0xadfcb39ec527f4a0!2z0LLRg9C70LjRhtGPINCG0LLQsNGB0Y7QutCwLCA3OCwg0IbQstCw0L3Qvi3QpNGA0LDQvdC60ZbQstGB0YzQuiwg0IbQstCw0L3Qvi3QpNGA0LDQvdC60ZbQstGB0YzQutCwINC-0LHQu9Cw0YHRgtGMLCA3NjAwMA!5e0!3m2!1suk!2sua!4v1615644596732!5m2!1suk!2sua" width="auto" height="auto" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                  </div>
            
              </div>
            </section>
           
            <!-- footer section -->
        
            <footer id="footer" class="block block--dark">
              <div class="container grid footer__sections">
            
                <section class="footer__container">
                  <section class="collapsible collapsible--expanded footer__section">
                    <header class="collapsible__header">
                      <h2 class="collapsible__heading footer__heading"> ПРО НАС</h2>
                        <svg class="icon icon--white collapsible__chevron">
                          <use xlink:href="images/sprite-2.svg#chevron"></use>
                        </svg>
                    </header>
                    <div class="collapsible__content">
                      <ul class="lists">
                        <li><a href="#about">Про нас</a></li>
                        <li><a href="#">Наша команда</a></li>
                        <li><a href="#">Відзнаки</a></li>
                      </ul>
                    </div>
                  
                  </section>
                  <section class="collapsible footer__section">
                    <header class="collapsible__header">
                      <h2 class="collapsible__heading footer__heading">Продукція</h2>
                        <svg class="icon icon--white collapsible__chevron">
                          <use xlink:href="images/sprite-2.svg#chevron"></use>
                        </svg>
                    </header>
                    <div class="collapsible__content">
                      <ul class="lists">
                        <li><a href="#shop">Мед</a></li>
                        <li><a href="#shop">Солодощі</a></li>
                        <li><a href="#shop">Креми</a></li>
                      </ul>
                    </div>
                  
                  </section>
                  <section class="collapsible footer__section">
                    <header class="collapsible__header">
                      <h2 class="collapsible__heading footer__heading">Зворотній зв'зок</h2>
                        <svg class="icon icon--white collapsible__chevron">
                          <use xlink:href="images/sprite-2.svg#chevron"></use>
                        </svg>
                    </header>
                    <div class="collapsible__content">
                      <ul class="lists">
                        <li><a href="tel:+380678424560">Подзвонити</a></li>
                        <li><a href="mailto:pereklita.d@gmail.com">Написати нам</a></li>
                        <li><a href="#open-map">Ми на карті</a></li>
                      </ul>
                    </div>
                  
                  </section>
                </section>
            
                <section class="footer__logo">
                  <a href="index.html"><img src="./images/logo300.png" alt=""></a>
                  <p class="footer__copyright">
                    Copyright 2021 | Dmytro Pereklita
                  </p>
                </section>
            
              </div>
            </footer>