<section class="block block--dark ">
  <h2 class="block__heading  about__heading">Корисно знати</h2>
   <div class=" container know-section">
      <header class="about__header">
        <h3 class="know__heading" >Чому мед є таким  важливим для здоров’я  дитини?</h3>

        

        <p class="hero__parag know__text">Цілющі властивості меду відомі людям вже декілька тисячоліть.  Цей смачний і поживний продукт наші предки споживали як безпосередньо, так і в складі великої кількості страв, що приготовані з додаванням меду. Як правило, з основних переваг меду, як продукту харчування, можна виділити такі:
          
          <ul class="lists list--tick know__text">

            <li class="list__item">Здатність підвищувати імунітет організму. Дитячий організм є дуже вразливим щодо   багатьох різноманітних хвороб та інфекцій, від яких фізично вберегти дитину неможливо. Однак, завдяки речовинам, що містяться в цьому продукті, дитина буде значно витривалішою і матиме імунітет до більшості хвороб, починаючі від звичайної застуди, та закінчуючі тяжкими інфекційними захворюваннями.</li>

            <li class="list__item">Здатність нормалізувати роботу кишечника. Бактерії, що містяться в натуральному меді, здатні оптимально налаштувати роботу кишечника маленької людини. Тому, регулярне споживання певної кількості меду, дозволяє уникати таких проблем, як дісбактеріоз та багатьох інших порушень функції кишечника. В результаті, дитина буде здоровою та почуватися весело та комфортно, на радість батькам.</li>

            <li class="list__item">Здатність заспокоювати нерви. Всім відомо, що дитина з проблемами нервової системи є більш схильною до різноманітних захворювать. Вона гірше харчується, почуває себе некомфортно та завдає багато клопоту мамі, нерви якої також, безумовно, страждають від такої ситуації. Введення в раціон дитини меду, дозволяє зробити дитину більш витривалою та спокійною. Такий малюк значно краще спить, що дуже необхідно для його розвитку.</li>
          </ul>

          </p>

      </header>

      <header>
        <h3 class="know__heading" >Що робити з алергією дитини на мед?</h3>

        <p class="hero__parag know__text">Досить часто, молоді батьки жаліються на те, що дитина має алергічні реакції на мед та всі продукти харчування, що містять його в своєму складі. Однак, насправді, все не так страшно.

          Перш за все, в більшості випадків, в дитини буває алергія не на сам мед, а на пилок певних видів рослин, з яких бджоли його збирали. В такому випадку, варто спробувати просто змінити один тип меду на інший. Наприклад, якщо алергія була помічена при вживанні акацієвого меду, то варто спробувати перейти на гречаний або липовий.
          
          Крім того, велике значення має якість меду. Справа в тому, що сьогодні пропонується досить велика кількість фальсифікованого меду, в який додаються інші речовини. Наприклад, патока цукрової тростини. Звичайно, що такий продукт медом назвати дуже важко, і давати його дитині не варто. Як перевірити мед на натуральність можна довідатися з цієї статті, на нашому сайті.
          </p>


        <h3 class="know__heading" >Як правильно давати мед дітям?</h3>

        <p class="hero__parag know__text">Як казав відомий лікар Парацельс, «будь-які ліки є отрутою, а будь-яка отрута ліками. Все залежить від дози». Саме тому, у випадку з дітьми, варто дотримуватися певних правил, які є квинтесенцією накопиченого людьми досвіду.

          Перед усім, зовсім маленьким дітям (до року) мед давати не рекомендовано взагалі. Маленький організм ще не в стані перетравити такий продукт. А от починаючи з дошкільного віку, можна поступово вводити мед в раціон дитини. При цьому, варто не поспішати. Починати варто з половини чайної ложки і поступово довести до 1 столової ложки.
          
          Дітям молодшого шкільного віку, навпаки, мед дуже корисний. Він підвищує здатність вчитися та зміцнює імунітет. Однак, не варто таким дітям споживати меду більш ніж 3 столових ложки в день.
          
          Для підлітків мед, також, дуже корисний. Однак, варто пам’ятати, що цей продукт містить дуже велику кількість вуглеводів. Тому, дітям, схильним до повноти, варто обмежити денну дозу.
          
          Вважається, що не варто давати дітям мед у чистому вигляді. Краще змішати його з іншими продуктами. Наприклад, додати мед в чай або давати його з солодким сиром, кисломочними продуктами чи натуральними соками.
          </p>
      </header>

  </div>
</section>