<div class="shop-card glass">
  <div class="card">
    <div class="card__img">
      <img src=".//images/shop pics/1 item.jpg" alt="">
    </div>
    <header class="card__header">
      <h3 class="shop-card__name">Мед з Акації</h3>
      <br>
      <span class="shop-card__price">140 ₴ (UAH)</span>
      <span class="shop-card__amounth">/500 мЛ</span>
      <span class="badge badge--secondary badge--small">10% Знижка! </span>
      <br>
      <br>
      <span class="shop-card__description">Дуже солодкий, тягучий. 
        <br> Містить 36% глюкози і 41% фруктози.</span>
    </header>
    <div class="card__body">
      <!-- TODO: add forms and selectors to card__body element -->
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, quas?
    </div>
    <button class="btn btn--outline btn--block">Add to chart</button>
  </div>
</div>