<div class="shop-card">
  <div class="card">
    <div class="card__img">
      <img src=".//images/shop pics/1 item.jpg" alt="Мед з Акації">
    </div>
    <header class="card__header">
      <h3 class="shop-card__name background-1"> Мед з Акації 1</h3>
      <br>
      <span class="shop-card__description">Дуже солодкий, тягучий.
        <br> Містить 36% глюкози і 41% фруктози.</span>
        <br>
        <br>
      </header>

        <div class="shop-card-body">
          <br>
          <div class="shop-card__amounth">
            <button class="btn btn--outline">120 grams</button>
            <button class="btn btn--outline ">220 grams</button>
            <button class="btn btn--outline">470 grams</button>
            <button class="btn btn--outline">1400 grams</button>
          </div>
        </div>
        <br>
        <div class="price-container">
          <span class="shop-card__price old__price">154 ₴</span>
          <br>
          <span class="shop-card__price new__price">140 ₴</span>
          <br>
        </div>
        
        <br>

    <button class="btn btn--accent btn--block">Add to chart</button>

  </div>
</div>