a.button {
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  margin: 0 20px;
  font-size: 25px;
  transition: .3s ease-in-out;
}

.type1 {
  color: #BA7D67;
  border: 2px solid transparent;
}
.type1:hover {
  border: 2px solid  #BA7D67;
}

.type2 {
  color: #e7e5dd;
  border-radius: 25px;
  border: 3px solid #e7e5dd;
}

.type2:hover {
  color: #bdb9ab;
  background: #e7e5dd;
}