:root {
  --color-primary: #ffbf00;
  --color-secondary: #645b04;
  --color-accent: #60aa2f;
  --color-headings: #312a00;
  --color-body: #3c3c4b;
  --color-border: #ccc;
  --border-radius: 30px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

html {
  /* !!! font-size: 62.5% = 10px !!!  */
  font-size: 62.5%;
}

html:nth-child(odd){
  width: fit-content;
}

@media screen and (min-width: 1024px) {
  html:nth-child(odd){
    width: auto;
  }
}

.img--shadow {
  color: var(--color-border);
  filter: drop-shadow(0px 0px 1rem);
}

/* GLASS */

.glass {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 1rem;
  z-index: 2;
  backdrop-filter: blur(0.6rem);
}

/* ANIMATED BACKGROUND */

.animated-background {
  background: linear-gradient(52deg, #fbce11, #f59104b7, #ffbf00);
  background-size: 400% 400%;

  -webkit-animation: bg-anime 9s ease infinite;
  -moz-animation: bg-anime 9s ease infinite;
  animation: bg-anime 9s ease infinite;
  -o-animation: bg-anime 9s ease infinite;
}

@-webkit-keyframes bg-anime {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes bg-anime {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes bg-anime {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* TOPOGRAPHY */

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: var(--color-body);
  font-size: 2.4rem;
  line-height: 1.5;
  word-spacing: 1px;
  position: relative;
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
  letter-spacing: 0.1rem;
  line-height: 1.2;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
  letter-spacing: 0.08rem;
}

.heading-dec::after {
  content: '';
  display: block;
  width: 25%;
  margin-top: 1.5rem;
  border-bottom: 3px solid var(--color-primary);
  position: absolute;
  left: 50%;
  right: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

/*  LINKS  */

a {
  text-decoration: none;
}

.link-arrow {
  color: var(--color-accent);
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.25s;
}

.link-arrow:hover::after {
  margin-left: 15px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* LISTS */

.lists {
  list-style: none;
  padding-left: 0;
  color: var(--color-headings);
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.list--tick {
  list-style-image: url(../images/tick.svg);
  padding-left: 3rem;
}

.list--tick .list__item {
  padding-left: 1.5rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024 px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}

/* ICONS */

.icon {
  width: 40px;
  height: 40px;
}

a .icon {
  width: 15px;
  height: 15px;
}

.icon--primary {
  fill: var(--color-primary);
}

.icon--white {
  fill: #fff;
}

.icon-container {
  background: rgb(94, 167, 163);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/* BUTTONS */

.btn {
  outline: none;
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 1rem 0;
  padding: 2rem 3rem;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  transition: 0.35s ease-in-out;
  outline: 0;
}

.btn .icon {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
  vertical-align: middle;
}

.btn--primary {
  background: var(--color-primary);
  color: aliceblue;
}

.btn--primary:hover {
  /* box-shadow: 0 0 7px 3px var(--color-primary); */
  color: #000;
}

.btn--secondary {
  background: var(--color-secondary);
  color: aliceblue;
}

.btn--secondary:hover {
  /* box-shadow: 0 0 7px 3px var(--color-secondary); */
  color: #000;
}

.btn--accent {
  background: var(--color-accent);
  color: aliceblue;
}

.btn--accent:hover {
  /* box-shadow: 0 0 7px 3px var(--color-accent); */
  color: #000;
}

.btn--block {
  width: 100%;
  display: inline-block;
}

.btn--stretched {
  padding-left: 6rem;
  padding-right: 6rem;
}

.btn--outline {
  background: #fff;
  border: 1px solid var(--color-secondary);
  color: var(--color-secondary);
}

.btn--outline:hover {
  background: var(--color-primary);
  /* box-shadow: 0 0 7px 3px var(--color-headings); */
  border: 1px solid var(--color-primary);
  color: var(--color-secondary);
}
  

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.4rem;
  }
}

/* BADGETS */

.badge {
  border-radius: 20px;
  padding: 0.5rem 2rem;
  font-weight: bold;
  white-space: nowrap;
  font-size: 2rem;
}

.badge--primary {
  background: var(--color-primary);
  color: #fff;
}

.badge--secondary {
  background: var(--color-secondary);
  color: #fff;
}

.badge--small {
  font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }

  .badge--small {
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
  }
}

/* INPUTS */

.input {
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
  color: var(--color-headings);
  font-size: 2rem;
  outline: 0;
  padding: 1.5rem 3rem;
}

::placeholder {
  color: #cbcbd7;
}

.input-group {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  display: flex;
}

.input-group .input {
  border: 0;
  flex-grow: 1;
  padding: 1.5rem 2rem;
}

.input-group .btn {
  margin: 5px;
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}

/* CARD */

.card {
  border-radius: var(--border-radius);
  box-shadow: 0 0 10px 5px #dad4d4;
  overflow: hidden;
  text-align: center;
  padding: 1rem 2rem;
  transition: box-shadow 0.4s ease;
}



.card:hover {
  box-shadow: 0 0 10px 5px #ada9a9;
}

.card__header,
.card__body {
  padding: 1rem 1rem;
}

.card__img  img {
  border-radius: var(--border-radius);
  max-width: 100%;
}


/* TODO: sizing of card to fit 3 element in 1024px */
/* SHOP-CARD */

.shop-card {
  max-width: 550px;
  transition: transform 0.3s ease-in-out;
}


.shop-card:hover {
  transform: scale(1.03);

}

.shop-card__name {
  margin: 0;
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 1px;
  margin: 1rem 2rem;
}



.shop-card__price {
  margin-top: 1rem;
  font-size: 2.5rem;
}

.old__price {
  text-decoration: line-through;
  font-size: 2rem;
}

.new__price {
  color: red;
  font-size: 4rem;
  font-weight: 500;
}

.shop-card__amounth {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}


.shop-card__amounth .btn--outline {
  font-size: 2rem;
  font-weight: 300;
  padding: 1rem;
  margin: 1rem 3rem;
  border: 1px solid var(--color-secondary);
  text-transform: none;
  width: 120px;
}

/* .shop-card__amounth .btn {
  padding: 1rem;
  margin: 1rem;
} */

.shop-card__description {
  font-size: 2rem;
  font-weight: 300;
}


@media screen and (min-width: 1024px) {

  .shop-card__amounth .btn--outline {
    width: 100px;
  }

  .shop-card {
    max-width: 370px;
    transition: transform 0.3s ease-in-out;
  }

  .shop-card__name {
    font-size: 2.8rem;
  }

  .shop-card__price {
    font-size: 2rem;
  }

  .shop-card__amounth .btn {
    font-size: 1.5rem;
  }

  .shop-card__description {
    font-size: 1.5rem;
  }

  .new__price {
    font-size: 2.5rem;
  }

  .old__price {
    font-size: 1.8rem;
  }
}

/* MEDIA */

.media {
  display: flex;
}

.media__body {
  margin: 0 2.5rem;
}

.media__image {
  margin-top: 1.5rem;
}

/* GRIDS */

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.grid--rewerse {
  flex-flow: column-reverse;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }

}

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    justify-content: center;
    align-items: center;
    flex-flow: row;
  }

}


/* .grid {
  display: grid;
}

@media screen and (min-width: 768px) {

  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}  */

/* CALLOUTS */

.callout {
  padding: 4rem;
  border-radius: 5px;
}

.callout--primary {
  background: var(--color-primary);
}

.callout__heading {
  margin-top: 0;
}

.callout .btn {
  justify-self: center;
  align-self: center;
  margin: 4rem 2rem 0 2rem;
}

.callout__content {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .callout .grid--1x2 {
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }

  .callout__content {
    text-align: left;
  }

  .callout .btn {
    justify-self: start;
  }
}

/* COLLAPSIBLE */

.collapsible__header {
  display: flex;
  justify-content: space-between;
}

.collapsible__heading {
  margin-top: 0;
  font-size: 4rem;
}

.collapsible__chevron {
  transform: rotate(-90deg);
  transition: transform 0.5s;
}

.collapsible__content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s;
}

.collapsible--expanded .collapsible__chevron {
  transform: rotate(0);
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
  
}

/* BLOCKS */

.block {
  --padding-vertical: 5rem;
  padding: var(--padding-vertical) 2rem;
  margin: 0 auto;
}


.block--dark {
  background: #000;
  color: var(--color-border);
}

.block--dark .block__heading {
  color: #fff;
}

.block--dark .collapsible__heading {
  color: #fff;
}

.block--skewed-right {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 80%);
  padding-bottom: calc(var(--padding-vertical) + 4rem);
}

.block--skewed-left {
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
  padding-bottom: calc(var(--padding-vertical) + 4rem);
}

.block__header {
  text-align: center;

}
 
.container {
  max-width: 1440px;
  margin: 0 auto;
}



/* NAVIGATION */

/* TODO: change colors for nav menu!!!!

*/


.nav {
  background: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 1rem;
  position: sticky;
  top: 0;
  z-index: 2;
}

.nav__list {
  width: 100%;
  margin: 0%;
}

.nav__item {
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #ccc;
}


.nav__item > a {
  color: #ccc;
  transition: color 0.4s;
}


.nav__item > a:hover {
  color: yellow;
}

/* TODO: remove "border" propperty after color matchin!!! */

.nav__toggler {
  opacity: 0.5;
  transition: box-shadow 0.2s;
  cursor: pointer;
}

.nav.collapsible--expanded .nav__toggler {
  opacity: 1;
  box-shadow: 0 0 5px 2px #dad4d4;
  border-radius: 5px;
}



@media screen and (min-width: 1023px) {

  .nav__toggler {
    display: none;
  }

  .nav__list {
    width: auto;
    display: flex;
    font-size: 1.6rem;
    max-height: 100%;
    opacity: 1;
  }

  .nav__item {
    border: 0;
  }

}


/* HERO */

.hero {
  clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 0% 100%);
}


.hero__parag {
  font-size: 1.8rem;
  letter-spacing: .5px;
  margin: 1rem 0 3rem;
  text-align: left;
}

picture .hero__image {
  margin-top: 4rem;
  min-width: 100%;
}

.btn__hero {
  margin-top: 5rem;
  text-align: center;
}

.hero__heading {
  text-align: center;
}

.hero__content {
  padding: 3rem 1rem;
}


.media__image .icon-container{
  background: none;
}

.media__image .icon--primary {
  fill: var(--color-accent);
}

@media screen and (min-width: 768px) {

  .hero__content {
    align-self: center;
  }

  .hero__parag {
    font-size: 1.6rem;
  }
  
  .hero__image {
    padding-top: 5rem;
  }

  .hero__heading {
    font-size: 7rem;
  }

}



/* SHOP-BLOCK */

.block-shop .grid {
  gap: 4rem;
}



/*  FOOTER  */

.footer__section {
  padding: 2rem;
  border-bottom: 1px solid var(--color-border);
}

.footer__heading {
  text-transform: uppercase;
  font-weight: 600;
}

.footer__logo {
  margin-top: 4rem;
  text-align: center;
}

.footer__copyright {
  font-size: 2rem;
  color: #fff;
  opacity: 0.3;
}

.footer__section a {
  color: var(--color-body);
  transition: color 0.3s;
}

.footer__section .lists {
  margin: none;
  font-size: 3rem;
}

.footer__section a:hover {
  color: #fff;
}

@media screen and (min-width: 768px) {

  .footer__sections {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
  }

  .footer__section {
    max-width: 30%;
    border: none;
  }

  .footer__container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
  }

  .footer__section .collapsible__chevron {
    display: none;
  }

  .footer__logo {
    margin-top: 1rem;
  }

  .footer__section .collapsible__content {
    max-height: 100%;
    opacity: 1;
  }

  .footer__copyright {
    font-size: 1rem;
  }

  .footer__heading {
    font-size: 2rem;
  }

  .footer__section .lists {
    font-size: 1.5rem;
  }

}

/* ABOUT US*/


.about--two {
  clip-path: polygon(0% 5%, 100% 0%, 100% 95%, 0% 100%);
  padding-top: 3rem;
  padding-bottom: 6rem;
  
}

.about__heading {
  text-align: center;
  margin-bottom: 1em;
  padding: 2rem 3rem;
}

.about__header {
  padding: 2rem 4rem;
}

.about__picture .about__image {
  max-width: 100%;
  margin-top: 4rem;
  border-radius: var(--border-radius);
}

@media screen and (min-width: 768px) {

  .about__picture {
    min-width: 50%;
    margin-top: 1rem;
  }

  .about__picture .about__image {
    margin-top: 1rem;
  }
 
}


/* KNOW-SECTION */

.know-section {
  display: grid;

}

.know__text  li {
  font-size: 1.8rem;
  letter-spacing: .5px;
  margin: 1rem 0 3rem;
}

.know__text {
  letter-spacing: 1px;
  color: #ccc;

}

.know__heading {
  margin-top: 4rem;
  margin-bottom: 5rem;
  color: #fff;
}


@media screen and (min-width: 768px) {

  .know__text  li {
    font-size: 1.6rem;
  }

}



@media screen and (min-width: 1024px) {

  .know-section {
    grid-template-columns: repeat(2, 1fr);
  }
}


/* FEEDback */


.map-img{
  border-radius: var(--border-radius);
  width: 650px;
  height: 400px; 
}

.feedback a {
  color: var(--color-body);
}

.feedback__text {
  display: block;
  font-size: 1.5rem;
  opacity: 0.7;
  padding-right: 2rem;
}

.feedback a .icon{
  fill: var(--color-body);
  height: 3rem;
  width: 3rem;
  margin-right: 1rem;
}

.list-feedback {
  margin: 2rem 1rem;
}

.list-feedback svg {
  transition: transform 0.25s ease-in-out;
}

.list-feedback:hover svg {
  fill: var(--color-primary);
  transform: scale(1.5);
}

.list-feedback:hover a {
  color: var(--color-primary);

}

.feedback .btn {
  text-align: left;
}





/* CHART */


.chart--item-delete {
  transition: fill 0.2s ease-in-out;
}

.chart--item-delete .icon {
  width: 2.5rem;
  height: 2.5rem;
}


.chart--item-delete:hover {
  fill: red;
  cursor: pointer;
}

.chart--item-name,
.chart--item-price,
.chart--item-amounth-main,
.chart--item-amounth,
.chart--item-total-price,
.chart--item-delete {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 50px;
}

.chart--item-amounth{
  display: grid;
  grid-template-columns: 15% 50% 15%;
  justify-items: center;
}

.am-minus,
.am-number,
.am-plus {
  border: 2px solid var(--color-border);
  border-radius: 5px;
  width: 100%;
  text-align: center;
  margin: 0 5px;
  transition: box-shadow 0.2s ease-in-out;
}


.am-plus:hover {
  box-shadow: inset 0 0 10px #60aa2f;
}

.am-minus:hover {
  box-shadow: inset 0 0 10px rgb(255, 85, 85);
}

.chart-container {
  margin: 4rem 2rem;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.chart-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.chart-footer .btn {
  display: inline-block;
  padding: 2rem 4.5rem;
}

.chart-items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.chart-container {
  margin: 4rem;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

.chart-result-total-price::after {
  content: 'грн';
  margin-left: 1rem;
}

.chart--item-name img {
  position: relative;
  left: -1rem;
  max-width: 100px;
  margin: 0;
}




/* 

mobile version 

*/

@media screen and (max-width: 1023px) {


  .chart--item-name {
    text-transform: uppercase;
  }

  .chart--item-name img {
    max-width: 150px;
  }

  .chart--block {
    --padding-vertical: 4rem;
    padding: var(--padding-vertical) 2rem;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.24);
    margin: 2rem 0;
    box-shadow: inset 0 0 20px #ccc,
                inset 0 0 10px rgb(130, 130, 130),
                      0 0 35px #ccc,
                      0 0 10px rgb(110, 110, 110),
                      0 0 30px rgb(120, 120, 120);
  }

  .chart--heading {
    font-weight: 700;
    display: none;
  }

  .chart-items {
    flex-wrap: wrap;
    border-radius: var(--border-radius);
    margin: 4rem auto;

  }

  .chart--item-delete {
    text-align: center;
  }

  .chart--item-name,
  .chart--item-price,
  .chart--item-total-price {
    font-weight: 600;
    border-bottom: 3px dotted var(--color-border);
  }


  .chart--item-delete {
    border: 1px transparent red;
    border-radius: var(--border-radius);
    box-shadow: 0 0 7px var(--color-border);
    transition: box-shadow 0.2s ease-in-out;
  }
  
  .chart--item-delete:hover {
    box-shadow: inset 0 0 5px red;
  }

  .chart--item-name::before {
    content: 'Назва товару:';
    opacity: 0.7;
    margin-right: 3rem;
    font-weight: 400;
    text-transform: none;
  }

  .chart--item-price::before {
    content: 'Ціна за одиницю/грн:';
    opacity: 0.7;
    margin-right: 2rem;
    width: 100%;
    font-weight: 400;
  }
  .chart--item-total-price::before {
    content: 'Загальна ціна/грн:';
    opacity: 0.7;
    margin-right: 2rem;
    width: 100%;
    font-weight: 400;
  }

  .chart--item-amounth {
    width: 100%;
  }

  .chart--item-delete {
    width: 100%;
  }

  .chart-result-amouth,
  .chart-result-total-price {
    display: block;
    font-size: 2.5rem;
    margin-top: 2rem;
  }

  .chart-bottom .btn {
    display: block;
    margin-top: 3rem;
    width: 100%;
  }

}




/* desctop version */

@media screen and (min-width: 1024px) {

  .chart-container {
    max-width: 1440px;
    margin: 4rem auto;
  }

  .chart--heading {
    font-size: 2rem;
    font-weight: 700;
  }

  .chart--item-delete {
    border: 1px transparent red;
    border-radius: var(--border-radius);
    box-shadow: 0 0 7px var(--color-border);
    transition: box-shadow 0.2s ease-in-out;
  }
  
  .chart--item-delete:hover {
    box-shadow: inset 0 0 5px red;
  }

  .clear {
    border: none;
    box-shadow: none;
    border-radius: 0;
  }
  .clear:hover {
    border: none;
    box-shadow: none;
    cursor: auto;
    border-radius: none;
  }

  .chart-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    gap: 2rem 2rem;
    margin: 2rem;
  }

  .chart-items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* justify-items: center;
    align-items: center; */
  }


  .chart--item-name,
  .chart--item-price,
  .chart--item-amounth-main,
  .chart--item-amounth,
  .chart--item-total-price,
  .chart--item-delete {
    margin: 1rem 2rem;
    width: 120px;
    text-align: center;
  }

  .chart--item-name {
    width: 200px;
  }
  
  .chart--block {
    border-bottom: 1px dotted var(--color-border);
  }

  .chart-result-amouth,
  .chart-result-total-price {
    display: block;
    font-size: 2rem;
    margin-top: 2rem;
  }

  .chart--item-amounth{
    grid-template-columns: 30% 40% 30%;
  }
  
  .chart-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;;
  }
  
  .chart-bottom {
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
  } 

  .chart-bottom .btn {
    display: block;
    padding: 1.5rem 7rem;
    margin: 1rem 3rem;
  } 

}